body{
    background-color: #eee;
}


/*
.galeria img, 
.flip img, 
.flash img {
    width: 60px;
    height: 60px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
}


.galeria {
 background-image: url('../src/images/camera-gallery.jpg');
}

.flip {
    background-image: url('../src/images/camera-flip.png');
}

.flash {
    background-image: url('../src/images/camera-flash.png');
}
*/